@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "BebasNeue-Regular";
	src: url("src/assets/BebasNeue-Regular.ttf") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@keyframes shuffle {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(180deg);
	}
}

.shuffle-animation {
	animation: shuffle 0.7s ease-in-out;
}
